{% extends 'base.html.twig' %}
    {% block title %}Article{% endblock %}
{% block body %}
    {% for article in articles %}
        <tr>
            <td><a href="{{ path('article_read', {'id': article.id}) }}">{{ article.name }}</a></td>
            <td>{{ article.description }}</td>
            <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
            <td><a href="{{ path('article_update', {'id': article.id}) }}">Изменить</a></td>
            <td><a href="{{ path('article_delete', {'id': article.id}) }}">Удалить</a></td>
        </tr>
        <br>
    {% endfor %}
    <a href="{{ path('article_create') }}">Создать</a>
{% endblock %}